/* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:1fr;
}

.box {
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
}
